.expensesPage {
    width: 80%;
    margin: auto;
}

.expensesTable {
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
}

.expensesHeader {
    background-color:#dbdbdb;
}

.expensesHeaderCell {
    text-align: left;
    border: 1px solid;
    padding-left: 1rem;
}

.expensesCell {
    border: 1px solid;
    padding: 5px 1rem;
}